@import 'vars.scss';
@import '../../node_modules/milligram/src/milligram.sass';

body {
  margin: 0;
  border: 12px solid $color-primary;
  min-height: 100vh;
}

.content {
  padding: 25px 0;
  min-height: calc(100vh - 318px);
}

::-webkit-scrollbar-track {
    background: $color-primary;
  }


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0,0,0,0);
    border-radius: 100px;
  }
  /* hover effect for both scrollbar area, and scrollbar 'thumb' */
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }

  /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
  ::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61); /* Some darker color when you click it */
    border-radius: 100px;
  }
