$white-color: #fff;
$black-color: #000;

$fore-color: #eee;



$color-initial: #fff !default;
$color-primary: lightcoral !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;


$color-primary-light-2: mix($white-color, $color-primary, 20);
$color-primary-light-4: mix($white-color, $color-primary, 40);
$color-primary-light-6: mix($white-color, $color-primary, 60);
$color-primary-light-8: mix($white-color, $color-primary, 80);

$color-primary-dark-2: mix($black-color, $color-primary, 20);
$color-primary-dark-4: mix($black-color, $color-primary, 40);
$color-primary-dark-6: mix($black-color, $color-primary, 60);
$color-primary-dark-8: mix($black-color, $color-primary, 80);

$fore-color-light-2: mix($white-color, $fore-color, 20);
$fore-color-light-4: mix($white-color, $fore-color, 40);
$fore-color-light-6: mix($white-color, $fore-color, 60);
$fore-color-light-8: mix($white-color, $fore-color, 80);

$fore-color-dark-2: mix($black-color, $fore-color, 20);
$fore-color-dark-4: mix($black-color, $fore-color, 40);
$fore-color-dark-6: mix($black-color, $fore-color, 60);
$fore-color-dark-8: mix($black-color, $fore-color, 80);
